<!---
https://realworldcoding.io/building-a-chess-web-application-with-an-agile-development-team-51a25877a6cf
--->

<!DOCTYPE html>
<html>

    <head>
        <title>Chess</title>
        <#include "head.ftl" />

    </head>

    <body>
        
        <div class="chessboard">
            <table>
                {% (0..7).each do |row| %}
                <tr class="row">
                    {% (0..7).each do |column| %}
                    <td class="square" data-x-position="<%=column%>" data-y-position="<%=row%>">
                        {% piece = @game.piece_data[column][row]%}
                        {% if piece.present? %}
                        <div class="piece" data-piece-id="<%=piece.id%>">
                            {%= piece.unicode_symbol.html_safe%}
                        </div>
                    </td>
                    {% end %}
                    {% end %}
                </tr>
                {% end %}
            </table>
        </div>

    </body>

</html>
